<section>
  <div class="container mt-4">
    <div class="row">

      <!-- Add Product Form -->
       <h2 class="text-center">Edit Product</h2>
      <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">

        <br><br>

        <label for="productName">Product Name:</label>
        <input type="text" class="form-control" id="productName" name="productName" value="{{product.productName}}" required>

        <label for="originalPrice">Original-Price:</label>
        <input type="text" class="form-control" id="originalPrice" name="originalPrice" value="{{product.originalPrice}}" required>

        <label for="sellingPrice">Selling-Price</label>
        <input type="text" class="form-control" id="sellingPrice" name="sellingPrice" value="{{product.sellingPrice}}">
        <br>

        <label for="discountPrecentage">Discount-Precentage:</label>
        <input type="text" class="form-control" id="DiscountPrecentage" name="discountPrecentage" value="{{product.discountPrecentage}}" required>

        <label for="productImage">Image:</label>
        <img src="/product-Images/{{product._id}}.jpg" alt="" style="width: 100px; height:auto " id="imgView" class="pt-3">

        <input type="file" class="form-control" id="productImage" name="Image" onchange="viewimage(event)">

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>
<script>
  function viewimage(event){
    document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
  }
</script>