<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ATX</title>
     <link rel="stylesheet" href="/stylesheets/user-header.css">
</head>

<body>
    <header>
            
                <nav class="navbar navbar-expand-lg ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" href="/">
                            <h2>AutoTrade X</h2>
                        </a>
                        <div class="col-md-5 my-auto">
                            <form role="search">
                                <div class="input-group">
                                    <input type="search" placeholder="Search your product" class="form-control" />
                                    <button>
                                        <i style="font-size:24px" class="fa">&#xf002;</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {{!-- <div class="dropdown col-md-1">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/cart">Cart<span class="badge badge-success"
                                            id="cart-count">{{cartCount}}</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/orders">Orders</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-user"></i> {{#if user}}
                                        {{user.fname}}
                                        {{else}}
                                        Account
                                        {{/if}}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i class="fa fa-list"></i> My Orders</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i class="fa fa-heart"></i> My
                                                Wishlist</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i class="fa fa-shopping-cart"></i> My
                                                Cart</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {{#if user}}
                                <a class="dropdown-item" href="/logout">Logout</a>
                                {{else}}
                                <a class="dropdown-item" href="/login">Login</a>
                                {{/if}}
                            </div>
                        </div> --}}
                        <div class="col-md-5 my-auto">
                            <ul class="nav justify-content-end">

                                <li class="nav-item">
                                    <a class="nav-link" href="/cart">
                                        <i class="fa fa-shopping-cart" style="color:#000"></i> Cart ({{cartCount}})
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fa fa-heart" style="color:#000"></i> Wishlist (0)
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-user" style="color:#000"></i> {{#if user}}
                                        {{user.fname}}
                                        {{else}}
                                        Account
                                        {{/if}}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/orders"><i class="fa fa-list"></i> My
                                                Orders</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i class="fa fa-heart"></i> My
                                                Wishlist</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/cart"><i class="fa fa-shopping-cart"></i> My
                                                Cart</a></li>
                                        <li>
                                            {{#if user}}
                                            <a class="dropdown-item" href="/logout"><i
                                                    class="fa fa-sign-out"></i>Logout</a>
                                            {{else}}
                                            <a class="dropdown-item" href="/login"><i class="fa fa-sign-in"
                                                    aria-hidden="true"></i>Login</a>
                                            {{/if}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
       
    </header>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>


</html>